.navbar-nav li a:hover
{
    background-color: brown;
    border-radius: 40%;
}

.navbar-brand
{
  margin-left: 80px ;
}


.mycontainer
{
    margin-top: 80px;
}


.fly
{
    width: 200px;
    height: 50px;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%; 
    border-right: 30%;
    border-left: 30%;
    background-color: darkviolet;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 300;
}